@model TinyCQRS.WebClient.Models.SiteIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Add new site", "CreateSite")
</p>

@foreach (var site in Model.Sites)
{
    <h2>@Html.ActionLink(site.GlobalId.ToString(), "Pages", new {id = site.GlobalId}): @site.Name (@site.Root) (@site.PageCount pages)</h2>
}